<section id="blog" class="container" style="max-width: 1024px;">
    <div class="center">
        <h2>Announcements</h2>
        <p class="lead">Announcement in system platform development team.</p>
    </div>
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
				<% @announcements.each_with_index do |announcement,index| %>
				<div class="blog-item">
				    <div class="row">
				        <div class="col-xs-12 col-sm-3 text-center">
				            <div class="entry-meta">
				                <span id="publish_date"><%= announcement.updated_at.strftime("%B %d, %Y") %></span>
				                <span><i class="fa fa-user"></i> <a><%= announcement.email %></a></span>
				            </div>
				        </div>
				        <div class="col-xs-12 col-sm-9 blog-content">
				            <a>
				                <%= image_tag announcement.image.url(:medium), class: "img-responsive img-blog", width: "100%"  %>
				            </a>
				            <h2>
				                <%= link_to announcement.title, announcement %>
				            </h2>
				            <h3>
				                <%= announcement.description %><%= truncate(announcement.description , length: 255) { link_to "more", announcement } %>
				            </h3>
				            <div class="row">
				                <div class="col-sm-2" align="center">
				                     <%= button_to "Read More", announcement, method: :get, class: "btn btn-primary"  %>
				                </div>
				            </div>
				        </div>
				    </div>    
				</div>
				<% end %>
				<div class="text-center">
				    <%= paginate @announcements %>
				</div>
            </div>
            <div class="col-md-4">
                <div class="widget search">
                    <%= form_tag static_announcement_path, :method => 'get' do %>
                        <div class="form-group">
                     	   <%= text_field_tag :search, params[:search] , class: "form-control search_box", id:"search", placeholder: "Search"%>
                     	</div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="bottom" >
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" style="max-width: 1024px;">
        <div class="row">            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Announcements</h3>
                    <ul>
                    <% Announcement.limit_five.each do |announcement| %>
                        <li><%= link_to announcement.title , announcement %></li>   
                    <% end %>
                    </ul>
                </div>    
            </div>            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Events</h3>
                    <ul>
                        <% Event.limit_five.each do |event| %>
                        <li><%= link_to event.title , event %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Products</h3>
                    <ul>
                        <% Product.limit_five.each do |product| %>
                            <li><%= link_to product.name , product_download_path(product) %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Wikis</h3>
                    <ul>
                        <% Wiki.limit_five.each do |wiki| %>
                            <li><%= link_to wiki.title , wiki %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="midnight-blue">
    <div class="container" style="max-width: 1024px;">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015&nbsp;&nbsp;&nbsp;<%= link_to 'Cronus Team', root_path , :title => "Cronus Team @ AIS" %>.&nbsp;&nbsp;All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li>
                        <%= link_to "Home", root_path %>
                    </li>
                    <li>
                        <%= link_to "Download", download_path %>
                    </li>
                    <li>
                        <%= link_to 'Announcements', announcements_path, :class => 'navbar-link' %>
                    </li>
                    <li>
                        <%= link_to 'Events', events_path, :class => 'navbar-link' %>                        
                    </li>
                    <li>
                        <%= link_to 'Wikis', wikis_path, :class => 'navbar-link' %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> 
<style type="text/css">
.item {
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #eee;
  padding: 10px 10px 10px 30px;
}
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
</style>
