<section id="recent-works">
    <div class="container" style="max-width: 1024px;">
        <div class="center wow fadeInDown" style="padding-bottom: 1px;">
            <h2>Document</h2>
            <p class="lead">Document Center. Select the product and document</p>
        </div>        
        <div class="row">
            <div class="col-md-12">
                <% @products.each do |product| %>
                <% if product.documents.is_public.any? then %>
                <div class="row" >
                    <div class="page-header">
                        <h4><%= link_to product.name , product_doc_path(product) %></h4>
                    </div>
                    <% if product.documents.is_public then %>
                        <%  product.documents.is_public.each do |document| %>
                        <div class="col-md-4">
                            <i class="fa fa-file-pdf-o fa-2x"></i>&nbsp;&nbsp;&nbsp;<%= link_to document.name,  product_document_path(document.product, document), :style => "text-decoration: underline;"%>
                        </div>
                        <% end %>
                    <% end %>
                </div>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
</section>
<section id="bottom" >
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" style="max-width: 1024px;">
        <div class="row">            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Announcements</h3>
                    <ul>
                    <% Announcement.limit_five.each do |announcement| %>
                        <li><%= link_to announcement.title , announcement %></li>   
                    <% end %>
                    </ul>
                </div>    
            </div>            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Events</h3>
                    <ul>
                        <% Event.limit_five.each do |event| %>
                        <li><%= link_to event.title , event %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Products</h3>
                    <ul>
                        <% Product.limit_five.each do |product| %>
                            <li><%= link_to product.name , product_download_path(product) %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Wikis</h3>
                    <ul>
                        <% Wiki.limit_five.each do |wiki| %>
                            <li><%= link_to wiki.title , wiki %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="midnight-blue">
    <div class="container" style="max-width: 1024px;">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015&nbsp;&nbsp;&nbsp;<%= link_to 'Cronus Team', root_path , :title => "Cronus Team @ AIS" %>.&nbsp;&nbsp;All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li>
                        <%= link_to "Home", root_path %>
                    </li>
                    <li>
                        <%= link_to "Download", download_path %>
                    </li>
                    <li>
                        <%= link_to 'Announcements', announcements_path, :class => 'navbar-link' %>
                    </li>
                    <li>
                        <%= link_to 'Events', events_path, :class => 'navbar-link' %>                        
                    </li>
                    <li>
                        <%= link_to 'Wikis', wikis_path, :class => 'navbar-link' %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> 
<style type="text/css">
.item {
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #eee;
  padding: 10px 10px 10px 30px;
}
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
</style>
