<section id="blog" class="container">
    <div class="center">
        <h2>Events</h2>
        <p class="lead">Event in system platform development team.</p>
    </div>
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
            	<% @events.each_with_index do |event,index| %>
				<div class="blog-item">
				    <div class="row">
				        <div class="col-xs-12 col-sm-3 text-center">
				            <div class="entry-meta">
				                <span id="publish_date"><%= event.updated_at.strftime("%B %d, %Y") %></span>
				                <span><i class="fa fa-user"></i> <a><%= event.email %></a></span>
				                <span>since
				                  <% if event.start_date != nil %>
				                    <a><%= event.start_date.strftime("%B %d, %Y") %></a>
				                  <% end %>
				                </span>
				                <span>until&nbsp;&nbsp;
				                  <% if event.end_date != nil %>
				                    <a><%= event.end_date.strftime("%B %d, %Y") %></a>
				                  <% end %>
				                </span>
				            </div>
				        </div>
				        <div class="col-xs-12 col-sm-9 blog-content">
				            <a>
				                <%= image_tag event.image.url(:medium), class: "img-responsive img-blog", width: "100%"%>
				            </a>
				            <h2>
				                <%= link_to event.title, event %>
				            </h2>
				            <h3>
				                <%= truncate(event.description , length: 255) { link_to "more", event } %>
				            </h3>
				            <div class="row">
				                <div class="col-sm-2" align="center"><%= button_to "Read More", event, method: :get, class: "btn btn-primary readmore"  %></div>
				            </div>
				        </div>
				    </div>
				</div>
				<% end %>
				<div class="text-center">
    				<%= paginate @events %>
				</div>
            </div>
            <div class="col-md-4">
                <div class="widget search">
                    <%= form_tag static_event_path, :method => 'get' do %>
                        <div class="form-group">
                             <%= text_field_tag :search, params[:search] , class: "form-control search_box", id:"search", placeholder: "Search"%>            
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>