<section id="main-slider1"  class="no-margin">
    <div class="background_home">
        <div class="carousel slide" id="slider">
            <ol class="carousel-indicators">
              <% @annNew.each_with_index do |ann, index| %>
                <% if index == 0 %>
                  <li data-target="#slider" data-slide-to="<%= index %>" class="active"></li>
                <% else %>
                  <li data-target="#slider" data-slide-to="<%= index %>"></li>
                <% end %>
              <% end %>
            </ol>
            <div class="carousel-inner">
                <% @annNew.each_with_index do |ann, index| %>
                <% if index == 0 %>
                   <div class="item active">
                <% else %>
                  <div class="item">
                <% end %>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"><%= ann.title %></h1>
                                    <h2 class="animation animated-item-2"><%= truncate(ann.description, length: 80) { link_to "more", ann } %></h2>
                                    <%= link_to('Read More', ann, class: 'btn-slide anmation animated-item-3') %>
                                </div>
                            </div>
                            <div class="col-sm-5 col-centered hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <%= image_tag(ann.image.url(:medium), :class => "img-responsive-home") %>
                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
            <a class="prev hidden-xs" href="#slider" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a class="next hidden-xs" href="#slider" data-slide="next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>  
</section>
<section class="background_white">
    <div class="container">
       <div class="center wow fadeInDown">
            <h2>Events</h2>
            <p class="lead">Event in system platform development team.</p>
        </div>
        <div class="row">
            <% @events.each_with_index do |event,index| %>
            <div class="blog">
                <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="blog-item">
                        <div style="width: 200px; text-align: center; float: left; margin-right: 25px;margin-top: 15px;">
                            <div class="entry-meta">
                                <span id="publish_date"><%= event.updated_at.strftime("%B %d, %Y") %></span>
                                <span><i class="fa fa-user"></i> <a><%= event.email %></a></span>
                                <span>since&nbsp;&nbsp;
                                  <% if event.start_date != nil %>
                                    <a><%= event.start_date.strftime("%B %d, %Y") %></a>
                                  <% end %>
                                </span>
                                <span>until&nbsp;&nbsp;
                                  <% if event.end_date != nil %>
                                    <a><%= event.end_date.strftime("%B %d, %Y") %></a>
                                  <% end %>
                                </span>
                            </div>
                        </div>
                        <div>
                          <h2><%= link_to(event.title, event) %></h2>
                          <h3><%= truncate(event.description, length: 100) { link_to "more", event } %></h3>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= link_to "View all", static_event_path, class:"btn btn-primary" %>
          </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-6">
          <div class="panel panel-danger">
                <div class="panel-heading">Lasted Announcements</div>
                <div class="panel-body">
                <% @announcement_limit_five.each_with_index do |announcement,index| %>
                  <h3><%= link_to announcement.title,  announcement %></h3>
                  <p><%= truncate(announcement.description, length: 255) { link_to "more", announcement } %></p>
                  <hr>
                <% end %>
                </div>
                <div class="panel-footer">
                  <div class="center">
                      <%= link_to "View all", static_announcement_path, class:"btn btn-primary" %>
                  </div>   
                </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-danger">
                <div class="panel-heading">What are people saying?</div>
                <div class="panel-body">
                    <a class="twitter-timeline"  href="https://twitter.com/hashtag/CronusTeam" data-widget-id="613615618919497728" data-chrome="transparent noheader noborders noscrollbar" >#CronusTeam Tweets</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
                </div>
                <div class="panel-footer">
                  <div class="center">
                  </div>   
                </div>
          </div>
        </div>
    </div>
</div>


<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Announcements</h3>
                    <ul>
                    <% @announcement_limit_five.each do |announcement| %>
                        <li><%= link_to announcement.title , announcement %></li>   
                    <% end %>
                    </ul>
                </div>    
            </div>            
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Events</h3>
                    <ul>
                        <% @events_limit_five.each do |event| %>
                        <li><%= link_to event.title , event %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Products</h3>
                    <ul>
                        <% @products.each do |product| %>
                            <li><%= link_to product.name , product %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Wikis</h3>
                    <ul>
                        <% @wikis.each do |wiki| %>
                            <li><%= link_to wiki.title , wiki %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015&nbsp;&nbsp;&nbsp;<%= link_to 'Cronus Team', root_path , :title => "Cronus Team @ AIS" %>.&nbsp;&nbsp;All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li>
                        <%= link_to "Home", root_path %>
                    </li>
                    <li>
                        <%= link_to "Download", download_path %>
                    </li>
                    <li>
                        <%= link_to 'Announcements', announcements_path, :class => 'navbar-link' %>
                    </li>
                    <li>
                        <%= link_to 'Events', events_path, :class => 'navbar-link' %>                        
                    </li>
                    <li>
                        <%= link_to 'Wikis', wikis_path, :class => 'navbar-link' %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> 

<script type="text/javascript">
    $('#main-slider1').carousel({
        interval: 10000
    })
</script 
