<section id="recent-works">
    <div class="container" style="max-width: 1024px;">
        <div class="center wow fadeInDown">
            <h2>Wiki</h2>
            <p class="lead">Wiki in system platform development team.</p>
        </div>        
        <div class="row">
            <div class="col-md-8">
                <% @wikis.each do |wiki| %>
                <div class="item-wiki" >
                        <h4><%= wiki.title %></h4>
                        <h3><%= wiki.updated_at.strftime("%B %d, %Y") %></h3>
                        <%= truncate(wiki.description, length: 100) { link_to "more", wiki } %></p>
                        <%= button_to "Read More" , wiki, class: "btn btn-primary" , method: :get %>
                </div>
                <% end %>
                <div class="text-center">
                    <%= paginate @wikis %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget search">
                    <%= form_tag static_wiki_path, :method => 'get', id: "frole_user" do %>
                        <div class="form-group">
                            <%= text_field_tag :search, params[:search] , class: "form-control search_box", id:"search", placeholder: "Search"%>    
                         </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="bottom" >
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" style="max-width: 1024px;">
        <div class="row">            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Announcements</h3>
                    <ul>
                    <% Announcement.limit_five.each do |announcement| %>
                        <li><%= link_to announcement.title , announcement %></li>   
                    <% end %>
                    </ul>
                </div>    
            </div>            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Events</h3>
                    <ul>
                        <% Event.limit_five.each do |event| %>
                        <li><%= link_to event.title , event %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Products</h3>
                    <ul>
                        <% Product.limit_five.each do |product| %>
                            <li><%= link_to product.name , product_download_path(product) %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Wikis</h3>
                    <ul>
                        <% Wiki.limit_five.each do |wiki| %>
                            <li><%= link_to wiki.title , wiki %></li>
                        <% end %>
                    </ul>
                </div>    
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="midnight-blue">
    <div class="container" style="max-width: 1024px;">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015&nbsp;&nbsp;&nbsp;<%= link_to 'Cronus Team', root_path , :title => "Cronus Team @ AIS" %>.&nbsp;&nbsp;All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li>
                        <%= link_to "Home", root_path %>
                    </li>
                    <li>
                        <%= link_to "Download", download_path %>
                    </li>
                    <li>
                        <%= link_to 'Announcements', announcements_path, :class => 'navbar-link' %>
                    </li>
                    <li>
                        <%= link_to 'Events', events_path, :class => 'navbar-link' %>                        
                    </li>
                    <li>
                        <%= link_to 'Wikis', wikis_path, :class => 'navbar-link' %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> 
<style type="text/css">
.item {
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #eee;
  padding: 10px 10px 10px 30px;
}
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
</style>
