<section class="container">
    <div class="center">
        <h2>Manege operating systems</h2>
        <!-- <p class="lead">Prodcut in system platform development team.</p> -->
    </div>
    <div class="blog">
        <div class="row">
            <div class="col-md-9">
               <div class="panel panel-default">
                  <div class="table-responsive">
                    <table class="table pretty">
                       <thead>
                         <tr>
                           <th>No.</th>
                           <th>Name</th>
                           <th>Version</th>
                           <th>Public</th>
                           <th></th>
                         </tr>
                       </thead>                 
                       <tbody>
                         <% @operating_systems.each_with_index do |operating_system,index| %>
                           <tr>
                             <td><%= index+1 %></td>
                             <td><%= operating_system.name %></td>
                             <td><%= operating_system.version %></td>
                             <td edit_operating_system_path(operating_system)>
                              <% if operating_system.is_public then %>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                              <% else %>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              <% end %>
                            </td>
                             <td align="center">
                                <%= link_to operating_system, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" do %>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                <% end %>   
                        
                                <%= link_to edit_operating_system_path(operating_system), class: "btn btn-warning btn-xs" do %>
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                <% end %>   
                       
                                <%= link_to operating_system, class: "btn btn-success btn-xs"  do %>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
                                <% end %>
                            </td>
                           </tr>
                         <% end %>
                       </tbody>
                     </table>
                  </div>
              </div>
            </div>
            <div class="col-md-3">
                <div class="widget search">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </div>
                        <% if can? :manage, new_operating_system_path %>
                            <div class="form-group">
                              <%= link_to "New Operating system", new_operating_system_path, class: "btn btn-primary btn-block" %>
                            </div>
                        <% end %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>