<%= form_for(@event, html: {class: 'form-horizontal'}) do |f| %>
     <div class="form-group" >
        <div class="col-sm-2" ></div>
        <% if @event.errors.any? %>
          <div id="error_explanation" class="col-sm-8 alert alert-danger" role="alert">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2> 
            <ul>
            <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %> 
    </div>
    <%= f.hidden_field :email, value: current_user.email %>
    <div class="form-group has-warning">
        <%= f.label :title, class: "col-sm-2 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :title, id: "name", autocomplete: "off", class: "form-control", required: "required",  placeholder: "Title" %>
            <i>(minimum is 2 characters) (maximum is 80 characters) </i>
        </div>
    </div>
    <div class="form-group has-warning">
        <%= f.label :description, class: "col-sm-2 control-label" %>
        <div class="col-sm-9">
          <%= f.text_area :description, id: "description", autocomplete: "off", class: "form-control",required: "required", placeholder: "Description" %>
            <i>(maximum is 255 characters) </i>
        </div>
    </div>
    <div class="form-group has-warning">
        <%= f.label :start_date, class: "col-sm-2 control-label" %>
        <div class="col-sm-2">
          <%= f.text_field :start_date, id: "start_date", class: "form-control", placeholder: "yyyy-mm-dd" %>
        </div>
    </div>
    <div class="form-group has-warning">
        <%= f.label :end_date, class: "col-sm-2 control-label" %>
        <div class="col-sm-2">
          <%= f.text_field :end_date, id: "end_date", class: "form-control", placeholder: "yyyy-mm-dd" %>
        </div>
    </div>
    <div class="form-group has-warning">
        <label class="col-sm-2 control-label">Image</label>
        <div class="col-sm-2" >
          <%= f.file_field :image, id:"image" %>
        </div>
    </div>
    <div class="form-group has-warning">
        <%= f.label :body, class: "col-sm-2 control-label" %>
        <div class="col-sm-9">
          <%= f.text_area :body, id:"body", oninput:"this.editor.update()",:data => {:provide => "markdown"}, :row => "20" %>
          <i>(maximum is 65535 characters) </i>
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <%= f.check_box :is_public %> Public
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
          <%= f.submit class:"btn btn-primary" %>
      </div>
    </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    var  editor2 = $('#body').summernote(
      {   
          onImageUpload: function(files, editor, welEditable) {
                sendFile(files[0], editor, welEditable);
          },
          height:300, 
          maximumImageFileSize: 5242880
      }
    );
    function sendFile(file, editor, welEditable) {
        var data = new FormData();
        data.append("image[imageFile]", file);
        $.ajax({
            data: data,
            type: "POST",
            url: "/image_json",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
              $('#body').summernote('editor.insertImage', data.url);
            },
            error: function (xhr) {
              var errors = $.parseJSON(xhr.responseText).errors
              console.log(xhr);
              alert(errors);
            }
        });
    }
});
</script>