<section class="container">
    <div class="center">
        <h2>Contacts</h2>
        <!-- <p class="lead">Prodcut in system platform development team.</p> -->
    </div>
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th><%= sortable "subject" %></th>
                      <th>Message</th>
                      <th><%= sortable "name" %></th>
                      <th><%= sortable "Email" %></th>
                      <th align="center"></th>
                    </tr>
                  </thead>                
                  <tbody>
                    <% @contacts.each_with_index do |contact,index| %>
                      <tr>
                        <td><%= index+1 %></td>
                        <td><%= contact.subject %></td>
                        <td><%= contact.message %>
                          <%= truncate(contact.message , length: 80) { link_to "more", contact } %>
                        </td>
                        <td><%= contact.name %></td>
                        <td><%= contact.email %></td>
                        <td align="center">
                            <%= link_to contact, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                 <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            <% end %>                      
                            <%= link_to contact do %>
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="text-center">
                <%= paginate @contacts %>
              </div>
            </div>
            <div class="col-md-4">
                <div class="widget search">
                  <%= form_tag contacts_path, :method => 'get' do %>
                        <div class="form-group">
                            <%= text_field_tag :search, params[:search] , class: "form-control search_box", id:"search", placeholder: "Search"%>    
                         </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>