<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Document:</strong>
  <%= @document.document %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @document.is_public %>
</p>

<p>
  <strong>Product:</strong>
  <%= @document.product_id %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
