<div class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="text-align: " ><a>No.<a></th>
                    <th ><%= sortable "id" %></th>
                    <th ><%= sortable "title", "Title" %></th>
                    <th ><%= sortable "parent_id", "Parent Id / Title" %></th>
                    <th ><%= sortable "created_at", "Time create" %></th>
                    <th ><%= sortable "updated_at", "Time update" %></th>
                    <th ><%= sortable "is_public",  "Public" %></th>
                    <th align="center"></th>
                </tr>
            </thead>
            <tbody>
                <% @wikis.each_with_index do |wiki,index| %>
                <tr>
                    <td><%= index+1 %></td>
                    <td align="center"><%= wiki.id %></td>
                    <td align="center">
                       <%= wiki.title %>
                    </td>
                    <td align="center">
                        <% if wiki.root? then %>
                            
                        <% else %>
                            <%= wiki.parent_id %>&nbsp;/&nbsp;<%= wiki.parent.title %>
                        <% end %>
                    </td>
                    <td align="center"><%= wiki.created_at.to_formatted_s(:db)  %></td>
                    <td align="center"><%= wiki.updated_at.to_formatted_s(:db)  %></td>
                    <td align="center">
                      <% if wiki.is_public then %>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      <% else %>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <% end %>
                    </td>
                    <td>
                        <%= link_to wiki, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" do %>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                        <% end %>   
                
                        <%= link_to  edit_wiki_path(wiki) , class: "btn btn-warning btn-xs" do %>
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                        <% end %>   
               
                        <%= link_to wiki, class: "btn btn-success btn-xs"  do %>
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center">
    <%= paginate @wikis %>
</div>