<%= form_for(@wiki, html: {class: 'form-horizontal'}) do |f| %>
  <div class="form-group">
    <div class="col-sm-2" ></div>
    <% if @wiki.errors.any? %>
      <div id="error_explanation" class="col-sm-8 alert alert-danger" role="alert" >
        <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2> 

        <ul>
        <% @wiki.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="form-group has-warning">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :title, id: "title", autocomplete: "off", class: "form-control",required: "required" %>
      <i>(minimum is 2 characters) (maximum is 80 characters) </i>
    </div>
  </div>
  <div class="form-group has-warning">
    <%= f.label :parent_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
        <%= f.select :parent_id, nested_set_options(Wiki, @wiki) {|i| "#{'-' * i.level} #{i.title }" }.unshift(["No Parent", nil]), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group has-warning">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :description, id: "description", autocomplete: "off", class: "form-control" %>
      <i>(maximum is 255 characters) </i>
    </div>
  </div>
  <div class="form-group has-warning">
    <label class="col-sm-2 control-label" >Body</label>
    <div class="col-sm-8">
          <%= f.text_area :body, id: "body" %>  
          <i>(maximum is 65535 characters) </i>
    </div>
  </div>
  <div class="form-group has-warning">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <%= f.check_box :is_public %> Public
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12 col-sm-offset-2">
        <%= f.submit class:"btn btn-primary btn-lg", required: "required"%>
    </div>
  </div>  
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    var  editor2 = $('#body').summernote(
      {   
          onImageUpload: function(files, editor, welEditable) {
                sendFile(files[0], editor, welEditable);
          },
          height:300, 
          maximumImageFileSize: 5242880
      }
    );
    function sendFile(file, editor, welEditable) {
        var data = new FormData();
        data.append("image[imageFile]", file);
        $.ajax({
            data: data,
            type: "POST",
            url: "/image_json",
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
              $('#body').summernote('editor.insertImage', data.url);
            },
            error: function (xhr) {
              var errors = $.parseJSON(xhr.responseText).errors
              console.log(xhr);
              alert(errors);
            }
        });
    }
});
</script>

