<% @wikis.each do |wiki| %>
	<div class="item-wiki" >
		<h4><%= wiki.title %></h4>
		<h3><%= wiki.updated_at.strftime("%B %d, %Y") %></h3>
		<%= truncate(wiki.description, length: 100) { link_to "more", wiki } %></p>
		<%= button_to "Read More" , wiki, class: "btn btn-primary" , method: :get %>
	</div>
<% end %>
<div class="text-center">
    <%= paginate @wikis %>
</div>

<style type="text/css">
.item {
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #eee;
  padding: 10px 10px 10px 30px;
}
</style>