<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Public</th>
        <th colspan="3"></th>
      </tr>
    </thead>  

    <tbody>
      <% @products_all.each do |product| %>
        <tr>
          <td>
            <%= product.name %></td>
          <td>
            <%= truncate(product.description , length: 50) { link_to "more", product } %>
          </td>
          <td align="center">
                  <% if product.public then %>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <% end %>
                </td>
          <td align="center">
            <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          </td>
          <td align="center">
            <%= link_to edit_product_path(product) do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <% end %>
          </td>
          <td align="center">
            <%= link_to product  do %>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-center">
    <%= paginate @products_all %>
</div>