<section class="container">
    <div class="center">
        <h2>Products</h2>
        <p class="lead">Prodcut in system platform development team.</p>
    </div>
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="table-responsive">
                      <table class="table pretty">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th><%= sortable "id" %></th>
                            <th><%= sortable "name" %></th>
                            <th><%= sortable "created_at", "Time create" %></th>
                            <th><%= sortable "updated_at", "Time update" %></th>
                            <th><%= sortable "public" %></th>
                            <th colspan="3"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <% @products.each_with_index do |product, index| %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td>
                                    <%= product.id %>
                                </td>
                                <td>
                                    <%= product.name %>
                                </td>
                                <!-- <td>
                                    <%= truncate(product.description , length: 50) { link_to "more", product } %>
                                </td> -->
                                <td><%= product.created_at.to_formatted_s(:db)  %></td>
                                <td><%= product.updated_at.to_formatted_s(:db)  %></td>
                                <td align="center">
                                    <% if product.public then %>
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                      <% else %>
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                      <% end %>
                                </td>
                                <td align="center">
                                    <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" do %>
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                    <% end %>   
                            
                                    <%= link_to edit_product_path(product), class: "btn btn-warning btn-xs" do %>
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                    <% end %>   
                           
                                    <%= link_to product, class: "btn btn-success btn-xs"  do %>
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
                                    <% end %>
                              </td>
                            </tr>
                            <% end %>
                        </tbody>
                      </table>
                    </div>
                    <div class="text-center">
                        <%= paginate @products %>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget search">
                    <%= form_tag products_path, :method => 'get' do %>
                    <div class="form-group">
                        <%= text_field_tag :search, params[:search] , class: "form-control search_box", id:"search", placeholder: "Search"%>    
                     </div>
                    <% end %>
                    <form role="form">
                        <div class="form-group">
                              <%= link_to "New Product", new_product_path, class: "btn btn-primary btn-block" %>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>