<section id="contact-info" class="container">
    <div class="center">                
        <h2><%= @product.name %></h2>
        <p class="lead">&nbsp;&nbsp;&nbsp;<%= @product.description %></p>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<h2 id="transitions">Packages<small></small></h2>
    		<p>&nbsp;&nbsp;&nbsp;&nbsp;<b><%= @product.name %></b>'s most current release is product 
			<code>
                <% if (@product.lastest_package_release != nil) %>
                    <%= link_to  @product.lastest_package_release.version, @product.lastest_package_release %>
                <% end %>
            </code>

			</p>
            <% if (@product.lastest_package_release != nil) %>
			<p>
			    <a href="<%= @lastest_package_release.package %>" class="btn btn-primary" >Get the latest!</a>
               	<% if @lastest_package_release.release_package %>
                       <span class="label label-success">Release</span>&nbsp;
                <% end %>
                <% if @lastest_package_release.emergency_package %>
                    <span class="label label-warning">Emergency</span>&nbsp;
                <% end %>
                <I>Size&nbsp;(<b><%= @lastest_package_release.package_file_size %></b>)</I>,&nbsp;
                <I>Checksum&nbsp;(<b><%= @lastest_package_release.checksum %></b>)</I>
            </p>
            
            <% if (@lastest_package_release.release_note_file_name != nil) then %>
                <h5>Release Notes for 
                    <a href="<%= @product.lastest_package_release.release_note %>"><%= @lastest_package_release.name %></a>
                </h5>
            <% end %>
            <% end %>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<h4 class="page-header">Latest <%= @product.name %> Release</h4>
			<ul>	
			<% @package_in_product.each do |package| %>
	  			<li>
	  			<%= link_to package.name, package %> 
	  			<% if  package.release_package %>
			    	<span class="label label-success">Release</span>&nbsp;
			    <% end %>    
			    <% if package.emergency_package %>
			    	,&nbsp;<span class="label label-warning">Emergency </span>&nbsp;
			    <% end %>
			    <% if package.notwork_package %>
			    	,&nbsp;<span class="label label-danger">Broken</span>&nbsp;
			    <% end %>
				</li>
			<% end %>
			</ul>
    	</div>
    </div>
</section>