<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">Images</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div id="list">
                <%= render 'list' %>
            </div>
            <div id="grid">
                <%= render 'grid' %>
            </div>
        </div>
        <div class="col-md-3">
          <%# <%= button_to "add image", new_image_path, :class => "btn btn-primary", :method => :get %>
          <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#addImage">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Add Image
          </button>
          <select id="view" >
                <option id="1" value="0">Grid</option>
                <option id="2" value="1">List</option>
            </select>    
        </div>
    </div>
</div>
<div class="modal fade" id="addImage" tabindex="-1" role="dialog" aria-labelledby="addImage" aria-hidden="true"> 
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add new image</h4>
        </div>
        <%= form_for(@image) do |f| %>
        <div class="modal-body">
          <% if @image.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
                <ul>
                <% @image.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
                <label class="col-sm-2 control-label">Image</label>
                <div class="col-sm-10" >
                  <%= f.file_field :imageFile ,id:"image" %>
                </div>
            </div>
            <i>The maximum image size is 5 megabytes.</i>
        </div>
        <div class="modal-footer">
            <%= f.submit "Save", class:"btn btn-primary" %>
            <button type="button" class="btn btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        <% end %>
      </div>
    </div>
</div>
<script type="text/javascript">
    $('#list').hide();
    $('#view').change(function() {
        var x = $("#view").val();
        if (x == 0) {
            $("#grid").show();
            $('#list').hide();
        } else if (x ==1 ) {
            $("#list").show();
            $('#grid').hide();
        };
    });
</script>

