
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015&nbsp;&nbsp;&nbsp;<%= link_to 'Cronus Team', root_path , :title => "Cronus Team @ AIS" %>.&nbsp;&nbsp;All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li>
                            <%= link_to "Home", root_path %>
                        </li>
                        <li>
                            <%= link_to "Download", download_path %>
                        </li>
                        <li>
                            <%= link_to 'Announcements', announcements_path, :class => 'navbar-link' %>
                        </li>
                        <li>
                            <%= link_to 'Events', events_path, :class => 'navbar-link' %>                        
                        </li>
                        <li>
                            <%= link_to 'Wikis', wikis_path, :class => 'navbar-link' %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer> 



