<!DOCTYPE html>
<html>
	<head>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>CronusWebsite</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	 
	  <!--[if lt IE 9]>
  		<%= javascript_include_tag 'html5shiv', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'respond', 'data-turbolinks-track' => true %>
	  <![endif]-->

	  <%= csrf_meta_tags %>
	</head>
	<body class="homepage" ng-app="cronus">
		<%= render 'layouts/header' %>
		<%= render 'layouts/flash_messages' %>
		<%= yield %>
		<!--[if lt IE 9]>
  		<script>
  			var isOpera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
			    // Opera 8.0+ (UA detection to detect Blink/v8-powered Opera)
			var isFirefox = typeof InstallTrigger !== 'undefined';   // Firefox 1.0+
			var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
			    // At least Safari 3+: "[object HTMLElementConstructor]"
			var isChrome = !!window.chrome && !isOpera;              // Chrome 1+
			var isIE = /*@cc_on!@*/false || !!document.documentMode; // At least IE6
		    console.log(isIE);
		    function get_browser_info(){
			    var ua=navigator.userAgent,tem,M=ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || []; 
			    if(/trident/i.test(M[1])){
			        tem=/\brv[ :]+(\d+)/g.exec(ua) || []; 
			        return {name:'IE',version:(tem[1]||'')};
			        }   
			    if(M[1]==='Chrome'){
			        tem=ua.match(/\bOPR\/(\d+)/)
			        if(tem!=null)   {return {name:'Opera', version:tem[1]};}
			        }   
			    M=M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
			    if((tem=ua.match(/version\/(\d+)/i))!=null) {M.splice(1,1,tem[1]);}
			    return {
			      name: M[0],
			      version: M[1]
			    };
			}
		    if ( (get_browser_info().name == "MSIE") && (get_browser_info().version <=8) ) {
		        alert("Browser is not compatible. Please use chrome, firefox, safari and ie9+." );
		    } 		
		</script>
	   <![endif]-->

	</body>
</html>
